@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --radius: 0.5rem;
    --text-accent: #a3c4f3;
    --text-accent-hover: #82a1d9;
  }

  body {
    @apply font-primary bg-primary text-white;
  }

  .text-accent {
    color: var(--text-accent) !important; /* Add !important */
  }

  .h1 {
    @apply text-[48px] xl:text-[80px] leading-[1.1] font-semibold;
  }

  .h2 {
    @apply text-[36px] xl:text-[48px] leading-[1.1] font-semibold;
  }

  .h3 {
    @apply text-[20px] xl:text-[24px] leading-[1.1] font-semibold;
  }
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }

  .font-primary {
    font-family: var(--font-jetbrainsMono);
  }
}